<!DOCTYPE html>
<html lang="en">
<head>
    <script src="/js/vue.js"></script>
<!--    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>-->
<!--    <script src="https://unpkg.com/vue"></script>-->
<!--    <script src="/js/index.js"></script>-->

    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div id="app">
        {{ message }}
    </div>
    <ul></ul>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                message: '안녕하세요 Vue!'
            }
        });
    </script>

</body>
</html>